#reshon{
    background-image: url('image/38331-a_basar_reshet_facebook_2048x2048_pix_a-17\ \(2\).jpg');
    border: 1px solid white;
    background-size:contain; 
    background-repeat: no-repeat;
    background-position: center;
    position: relative; /* כדי להתאים כיתוב מעל לתמונה */
    color: white;
    text-align: center;
    padding-top: 100px;
    width:99%;
    height: 100%;
    z-index: 2;
    
}
.h1Kotert{
    text-decoration: underline white;
    
}
#Ikari{
    
    background-image: url('image/prime-rib.jpg');
    border: 1px solid white;
    background-size:contain; 
    background-repeat: no-repeat;
    background-position: center; /* כדי שהתמונה תתאים לגודל האלמנט */
    position: relative; /* כדי להתאים כיתוב מעל לתמונה */
    color: white; 
    text-align: center; 
    padding-top: 100px;
    width:99%; 
    height: 100%;
    z-index: 2;
    
}
#yladim{
    background-image: url('image/yladim.jpg');
    border: 1px solid white;
    background-size: contain; /* כדי שהתמונה תתאים לגודל האלמנט */
    background-position: center;
    position: relative; /* כדי להתאים כיתוב מעל לתמונה */
    color: white;
    text-align: center; 
    padding-top: 100px;
    width:99%; 
    height: 100%;
    z-index: 2;
}

#kinuch{
    background-image: url('image/072.jpg');
    border: 1px solid white;
    background-size:contain; 
    background-position: center;/* כדי שהתמונה תתאים לגודל האלמנט */
    position: relative; /* כדי להתאים כיתוב מעל לתמונה */
    color: white;
    text-align: center;
    padding-top: 100px;
    width:99%;
    height: 100%;
    z-index: 2;
}
#drink{
    background-image: url('image/drink.webp');
    border: 1px solid white;
    background-size:cover; 
    background-position:center; /* כדי שהתמונה תתאים לגודל האלמנט */
    position: relative; /* כדי להתאים כיתוב מעל לתמונה */
    color: white;
    text-align: center; 
    padding-top: 100px;
    width:99%; 
    height: 100%;
    z-index: 2;
    font-weight: bold;
    
   
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* שלוש עמודות שוות */
    gap: 0; 
  }
  .cold,
  .hot,
  .wine {
    padding: 10px; /* ריווח פנימי לעמודות */
   
  }
  .colll{
    font-size: 18pt;
    color: rgb(165, 132, 42);
    text-shadow: 2px 2px 4px rgba(244, 239, 239, 0.5);
    width: 120pt;
    height: 40pt;
    background-color: black;
    margin-right: 20px;
    margin-left: 20px;
    }
    .colll:hover{
        color:white;  
        text-decoration:underline;
    }
    @media only screen and (max-width:600px){
  
    }
    #reshon, #Ikari, #yladim, #kinuch, #drink {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        padding-top: 100px;
        width:99%;
        height: 100%;
        z-index: 2;
      }
      .grid-container {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                      }
                    
                      .cold,
                      .hot,
                      .wine {
                        margin-bottom: 0;
                      }
                     
                    
                    
    
    @media screen and (min-width: 600px) and (max-width: 1200px)
    {
         
    #reshon, #Ikari, #yladim, #kinuch, #drink {
    
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        padding-top: 100px;
        width:99%;
        height: 100%;
        z-index: 2;
      }
      .grid-container {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                      }
                    
                      .cold,
                      .hot,
                      .wine {
                        margin-bottom: 0;
                      }
                      
                    }
    
      
    